body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;

}

.section {
    background-color: rgba(78, 134, 219, 0.363);
    height: 55px;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.snimok {
    img {
        padding: 10px;
        height: 40px;
    }
}

.shapka {
    font-size: 23px;
    padding: 10px;
    padding-left: 160px;
    margin: -55px;
}

.shapka2 {
    img {
        padding: 10px;
        padding-left: 980px;
        
    }
}

.section_inner {
    width: 100%;
    height: 100%;
}

.chats {
    background-color:  rgba(157, 174, 230, 0.507);
    width: 20%;
    height: 860px;
}

.container_yt {
    width: 100%;
    height: 100%;
    font-size: 22px;
    margin-top: 22px;
    margin-left: 0;
}

.chat {
    background-color: rgba(132, 163, 221, 0.603);
    display: block;
}

.chat .prof {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.nastr {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 95%;
}

.windows {
    display: flex;
}

.chats {
   width: 300px;
  
}

.poisk {
    width: 292px;
    height: 30px;
    background-color: aliceblue;
}


.lines-1 {
    border: 1px solid rgba(14, 73, 107, 0.589);
    height: 35px;
}

.coob {
    width: 800px;
    height: 30px;
    margin-top: 800px;
    margin-left: 30px;
}

.knopka {
    background-color: rgba(160, 131, 207, 0.432);
}