body {
    margin: 0;
    padding: 0;
    background-color: rgb(110, 166, 214);
}

.container {
background-color: rgb(255, 255, 255);
width: 400px;
height: 590px;
text-align: left;
font-size: 12px;
margin-top: 100px;
margin: 0 auto;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section {
    background-color: rgba(0, 58, 250, 0.205);
    text-align: center;
    height: 36px;
}

.fam {
    width: 80%;
    height: 25px;
    border-radius: 20px;
}

.name {
    width: 80%;
    height: 25px;
    border-radius: 20px;

}

.otch {
    width: 80%;
    height: 25px;
    border-radius: 20px;
}

.email {
    width: 80%;
    height: 25px;
    border-radius: 20px;
}

.pass {
    width: 80%;
    height: 25px;
    border-radius: 20px;
}

.btn_1 {
    margin-right: 100px;
    font-size: 15px;
    margin-top: 5px;
}

.btn_2 {
    font-size: 15px;
}

.btn_3 {
    font-size: 15px;
    border-radius: 23px;
    border-color: rgba(13, 103, 182, 0.445);
    margin-top: 30px;
}

.btn_4 {
    font-size: 15px;
    border-radius: 23px;
    border-color: rgba(13, 103, 182, 0.445);
    margin-right: 15px;
}

.container_2 {
    width: 100%;
    height: 100%;
    margin-top: 260px;
    text-align: center;
}

.section_2 {
    margin-right: 190px;

}

.login {
    margin-bottom: 20px;
    width: 50%;
    height: 25px;
    border-radius: 20px;
    margin-left: 230px;
}

.pass_2 {
    width: 50%;
    height: 25px;
    border-radius: 20px;
    margin-left: 230px;
}

.regis_auth {
    margin-top: 20px;
    margin-left: 200px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(62, 126, 182);
}

.container_jk {
    width: 100%;
    height: 100%;
}

.section {
    background-color: rgba(78, 134, 219, 0.363);
    height: 55px;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.snimok {
    img {
        padding: 10px;
        height: 40px;
    }
}

.shapka {
    font-size: 23px;
    padding: 10px;
    padding-left: 160px;
    margin: -55px;
}

.shapka2 {
    img {
        padding: 10px;
        padding-left: 980px;
        
    }
}

.section_inner {
    width: 100%;
    height: 100%;
}

.chats {
    background-color:  rgba(157, 174, 230, 0.507);
    width: 20%;
    height: 860px;
}

.container_yt {
    width: 100%;
    height: 100%;
    font-size: 22px;
    margin-top: 22px;
    margin-left: 0;
}

.chat {
    background-color: rgba(132, 163, 221, 0.603);
    display: block;
}

.chat .prof {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.nastr {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 95%;
}

.windows {
    display: flex;
}

.chats {
   width: 300px;
  
}

.poisk {
    width: 292px;
    height: 30px;
    background-color: aliceblue;
}


.lines-1 {
    border: 1px solid rgba(14, 73, 107, 0.589);
    height: 35px;
}

.coob {
    width: 800px;
    height: 30px;
    margin-top: 800px;
    margin-left: 30px;
}

.knopka {
    background-color: rgba(160, 131, 207, 0.432);
}

.container_yt {
    margin-top: 0px;
}

.container_jk {
    margin-top: 340px;
}